.information {
  display: flex;
  margin-top: 1.75em;
  border-top: 3px solid rgba(255,255,255,.1);
  border-bottom: 3px solid rgba(255,255,255,.1);
  padding: 2em 0;
}

.poster {
  flex: 1;
  margin-right: 1em;
}

.poster img:last-of-type {
  border-radius: 1em;
  border: 3px solid white !important;
}

.details {
  flex: 4;
}

.biography {
    margin-top: .5em;
}