.heading {
    margin-bottom: .5em;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.item {
    max-width: 20%;
}

.poster img {
    border-radius: .5em;
}

.title {
    font-weight: bold;
}

.link {
    color: black;
    text-decoration: none;
}