.container {
    display: flex;
    margin: 1em 0;
    padding: .5em 1em .5em 0;
}

.poster {
    flex-direction: column;
    padding-right: 1em;
    min-width: 10%;
}

.poster img {
    border-radius: .5em;
    width: 100%;
}

.title {
    padding-bottom: .5em;
}

.title a {
    text-decoration: none;
    color: black;
}

.title a:hover {
    color: blue;
}