.information {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.poster {
    width: 25%;
    margin-right: 2em;
    border: .25em solid white;
    border-radius: .1em;
}

.poster img {
    border-radius: 1em;
}

.details {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-size: 2.5em;
}

.overview {
    margin-top: .5em;
    line-height: 1.75em;
}

.people {
    width: 100%;
    display: flex;
}