.title {
  margin: 1em 0;
}

.list {
  display: flex;
  justify-content: space-between;
}

.element img {
  border-radius: .5em;
  border: .2em solid white !important;
}

.actor {
  font-size: 1.25em;
  color: white;
  margin-bottom: .25em;
}

.character {

}
